.top-container{
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
    width: 100%;
  }
  
  /* ------------------------------ A DONDE VAS? ------------------------------ */
  .searchLocation{
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    border: solid 2px grey;
    margin-bottom: 1rem;
  }
  .visible{
    padding: 1rem;
    background-color: lightgray;
  }
  
  .filter-location{
    display: flex;
    flex-direction: column;
    top: 100%;
    position:absolute;
    max-height: 50vh;
    min-width: 20vw;
    overflow-y: scroll;
    background-color:white;
    z-index: 1;   
  }
 
  .popular-destinies{
    font-size: var(--FS);
    font-weight: 700;
    color: #000;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
  }
  
  .icon-filter{
    background: url("/src/assets/home/home.svg") no-repeat;
    background-size: 80% 80%;
    padding: 10px 10px 10px 30px;
  }
  
  .location-item{
    display: flex;
    height: 10%;
    align-items: center;
    margin-left: 1rem;
    border-bottom: thin 5px lightslategray;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .location-item:hover{
    background-color: rgb(207, 243, 240);
  }
  
  .li-item{
    list-style: none;
    margin-left: 1rem;
  
  }
  
  .location-icon{
    height: 30px;
    width: 30px;
  }
  
  #input-location{
    font-size: var(--FS);
    font-weight: 400;
    width: 8vw;  
  }
  


  /* ----------------------------- CALENDAR ------------------------------------ */
  /* .calendar-dates{
   display: flex;
   justify-content: center;
  } */
  
  .month-year-container{
  
    border-radius: 1rem;
    border: solid 1px gray;
    background-color: white;
    z-index: 1;
  }
  .month-year-tags{
    display: flex;
    padding-top: 2rem;
    font-size: var(--FS);
    font-weight: 600; 
    gap: 1rem;
  }
  .next{
    display: flex;
    justify-content: center;
    flex: 1 2;
    gap: 1rem;
    padding-left: 8rem;
    
  }
  
  .next-month{
    background: url("./assets/home/chevron-right-solid.svg");
    background-size: 100% 100%;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: 2rem;
  }
  
  .prev-month{
    background: url("./assets/home/chevron-left-solid.svg");
    background-size: 100% 100%;
    padding: 10px 10px 10px 10px;
    margin-left: 2rem;
    margin-right: 4.5rem;
  }
  
  .when-travel{
    padding: 0.5rem;
    font-size: var(--FS);
    color: gray;
    font-weight: 400;
  }
  

  .calendar-icon{
    background: url("/src/assets/home/calendar.svg") no-repeat;
    background-size: 80% 80%;
    padding: 10px 10px 10px 30px;
    margin-right: 10px;
    margin-left: 10px;
  
  
  }
  
  .calendar-month{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  
  h5{
    font-size: var(--FS);
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .trueDay{
    background-color: lightblue;
  }
  
  .day-selected:hover{
    background-color: lightblue;
    
  }
  .day-selected{
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
  }
  


  .container-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:1rem;
    font-size: var(--FS);
  }
  
  .top-header-year-month{
    display: flex;
    flex-grow: 3rem;
    justify-content: center;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: var(--FS);
    gap: 1rem;
  }
  
  
  .left-arrow{
    background: url("./assets/home/chevron-left-solid.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  
  .right-arrow{
    background: url("./assets/home/chevron-right-solid.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
  }
  
  .calendar{
    display: flex;
    position: absolute;
    left: 25%;
    top: 100%;
    border-radius:5%;
    background-color:white;
    z-index: 1;
  }

  .first-panel{
    display: flex;
    border: 1px solid black;
    border-radius: 5%;
    padding: 1rem;
  }
  .second-panel{
    display: flex;
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .days{
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
  }
  .past-days{
    color: lightgray;
    border-radius: 10px;
    text-align: center;
    cursor:no-drop;
  }
  
  .days:hover{
    background-color: lightblue;
  }
  
  .calendar-container{
    display: flex;
    gap: 5px;
  }
  
  /* -------------------------- GUEST PICKER -------------------------- */
  .guests-picker{
    text-wrap: nowrap;
    padding: 0.5rem;
    margin-right: 1vw;
    font-size: var(--FS);
    color: gray;
    font-weight: 400;
  }
  .guests-icon{
    background: url("./src/assets/home/users.svg");
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    padding: 0.7rem;
    margin-right:1rem;
  }
  .container-accompanients{
    position: absolute;
    width: 15vw;
    top:100%;
    background: 2px solid black;
    font-weight: 500;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
  }
  .guest-type-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  .type-guest{
    width: 100%;
    margin-right: 1rem;
  }
  .minus-picker{
    border: 1px solid grey;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .plus-picker{
    border: 1px solid grey;
    border-radius: 5rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  

  
  
  
  
  
  
  /* DROPDOWN MENU BAR  */
  
  
  .login-dropdown{
    position: absolute;
    top: 90%;
    right: 1%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 2;
  }
  .login-dropdown > div:nth-of-type(1n){
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-dropdown > div:nth-child(1n):hover{
    background-color: lightblue;
    border-radius: 1rem;
  }
  
  .login-register{
    color: white;
    background-color: var(--COLOR-DESIGN);
    border: 1px solid var(--COLOR-DESIGN);
    border-radius: 5px;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  .container-account{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }