:root {
  /* FONTS */
  /* --FF: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --FF: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FW: 400;
  --FC: #000;
  --COLOR-DESIGN: #ff6262;
  /* ANOTHER COLOR DESIGN #ec785e */

  /* COLORS */
  /* --BODY-BGCOLOR: #fff; */
  --BODY-BGCOLOR: #f0f2f3;
  --BGCOLOR: orange;

  /* STANDARD PADDING */

  /* STANDARD MARGIN */

  /*BORDERS */


  color-scheme: light dark;
  color: black;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* VARIABLES */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before{
  margin:0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: var(--FS);
  font-family: var(--FF);
  font-weight: var(--FW);
  background-color: var(--BGCOLOR);
}


body {
  padding: 0;
  /* min-width: 500px; */
  min-height: 100vh;
  /* max-width: calc(100% - 5%); */

  
  line-height: 1.5;
  background-color: var(--BODY-BGCOLOR);
  color: var(--FC);
 
}

input, button, textarea{
  /* these elements don't inherit font properties*/
  font:inherit;
  color:inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  appearance: none;
}

a{
  text-decoration: none;
  
}

ul, ol{
  list-style: none;
}

img{
   /* gets rid of the space below because they are inline elements, this will make the image responsive  */
  display: block;
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  /* height: auto; */
} 


.app-wrapper{
  
  /* display: grid;
  grid-gap: 1rem; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  margin-bottom: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  text-align: center;
  height: 7vh;
  width: 100%;
  z-index: 1;
}


.main-site-content{
  display: flex;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  flex: 1 1 auto;
  /* min-height: calc(100vh - 250px); */

}



/* ------------------------------ FILTER SECTION------------------------- */
.listings-info-section{
  width: 100%;
}
.listings-info-section-hide{
  width: 100%;
}

.search-info{
  font-size: var(--FS);
  text-align: center;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid grey;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.listings-container{
  display: grid;
  gap: 1.5rem;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  
  width: 100%;

  /* eligira entre dos valores el que sea mas pequeño, por lo que si tenemos un grid de listings, reducimos la pantalla el mas pequeño sera 25rem cada grid, pero cuando reducimos muchooo, tanto que solo cabe un grid, entonces tomara el 100% del espacio disponible
  en otras palabras, si lo hago mas pequeño coje el 100 por 100, no el 25 rem */
}

.listing-item{


  margin-left: 25px;
  margin-bottom: 10px;

  max-width: 100%;
  min-width: 150px;
  

  border-radius: 1rem;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* .gallery-container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  min-width: 90%;
  min-height: 200px;
  align-items: center;
} */

.image-counter{
  display: flex;
  justify-content: center;
  margin-top: 20%;
  min-width: 100%;

}
/* .listing-icons{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: end;
  height: 60%;
}

.favorite-button{
  display: flex;
  min-width: 100%;
  justify-content: flex-end;
} */

.listing-info{
  border: solid 2px black;
  border-radius: 1rem;
  text-align: center;
  min-width: 100%;
  height: auto;
  
}


.listing-place-rating{
  display: flex;
  justify-content: space-between;
}

.listing-price{
  display: flex;
  justify-content: start;
}





.testBottom{
  border: solid 5px black;
}

.showcase{
  display: flex;
  justify-content: center;
}

.logo{
  width: 90%;
  height: 90%;
}

.true{ background-image:url('/src/assets/home/red-heart-icon.svg');}
.false{  background-image: url('/src/assets/home/heart-regular.svg');}
.favorite{
  position:absolute;
  top: 5px;
  right: 0%;
  width: 25px;
  height:25px;
  background-size: cover;
  cursor: pointer;
}
.listing-gallery{
  position: relative;
  display: inline-block;
}
.listing-prev-picture{
  position:absolute;
  top: 50%;
  left: 0%;
  width: 15px;
  height:25px;
  background-image: url('/src/assets/home/chevron-left-solid.svg');
  background-size: cover;
  cursor: pointer;
}
.listing-next-picture{
  position:absolute;
  top: 50%;
  right: 0%;
  width: 15px;
  height:25px;
  background-image: url('/src/assets/home/chevron-right-solid.svg');
  background-size: cover;
  cursor: pointer;
}
#ojo{
  width: 100%;
  white-space: pre-line;
  
}

